<h2
  class="self-center text-center font-sans text-5xl font-extrabold text-slate-700">
  Donnerstag
</h2>
<div class="flex w-5/6 flex-col justify-between justify-self-center">
  <app-card
    title="Skyline Plaza"
    description="Shopping der Superlative in einem der besten Einkaufszentren Hessens. Hier befinden sich 170 Läden auf einer Gesamtfläche von ca 60.000 m²."
    time="09:30"
    imgsource="https://mein.toubiz.de/api/v1/article/b9454fe1-7886-482f-a3eb-31d0af8b0170/mainImage?format=image/jpeg&width=1900"></app-card>
  <app-card
    title="Café Buur"
    description="Flat White und süße Snaxx im besten Café Frankfurts. Ist gleichzeitig eine Hochburg der Influencer weil die Gerichte so schön angerichtet sind."
    time="15:00"
    imgsource="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/27/14/39/fa/cafe-buur-frankfurt-gebaude.jpg?w=1200&h=-1&s=1"></app-card>
  <app-card
    title="7 Bello"
    description="Italienische Lebensfreude und lautes Durcheinander bei #bestpizzaffm als Erlebnisabendessen."
    time="18:00"
    imgsource="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/b0/93/d2/img-20180105-wa0009-largejpg.jpg?w=1200&h=-1&s=1"
    class=""></app-card>
</div>
<img
  src="/eileen.jpeg"
  class="absolute h-svh min-w-full object-cover opacity-10 grayscale" />
