<h2
  class="self-center text-center font-sans text-5xl font-extrabold text-slate-700">
  Samstag
</h2>
<div class="flex w-5/6 flex-col justify-between justify-self-center">
  <app-card
    title="Café 64"
    description="Großes Frühstück in einem kleinen urigen Café zur Stärkung vor dem großen Aufstieg."
    time="09:30"
    imgsource="https://lh3.googleusercontent.com/p/AF1QipM-cyLuOrvBJJ8NzxDROPrEnhpLOghGDF5ZqBn9=s680-w680-h510"></app-card>
  <app-card
    title="Gipfeltour"
    description="Wir lassen Worten Taten folgen und schauen uns mal an was ein sogenannter saarländischer Premium Wanderweg zu bieten hat."
    time="11:00"
    imgsource="https://media-cdn.tripadvisor.com/media/photo-s/03/98/f3/e3/litermont-gipfeltour.jpg"></app-card>
  <app-card
    title="Blake Lively"
    description="Nur noch ein einziges Mal. Vorausgesetzt wir haben Glück und der Film läuft bis dahin weiterhin in der 20:00 Uhr Vorstellung. Aber ich bin zuversichtlich."
    time="20:00"
    imgsource="https://image.stern.de/34975798/t/tl/v3/w480/r1.7778/-/blake-lively.jpg"
    class=""></app-card>
</div>
<img
  src="/eileen.jpeg"
  class="absolute h-svh min-w-full object-cover opacity-10 grayscale" />
