<h2
  class="self-center text-center font-sans text-5xl font-extrabold text-slate-700">
  Freitag
</h2>
<div class="flex w-5/6 flex-col justify-between justify-self-center">
  <app-card
    title="Kullmann's"
    description="Going down memory lane with an american style breakfast diner experience rated at 4.3 google stars just like our Dennys at Flamingo Road, LV."
    time="09:30"
    imgsource="https://lh3.googleusercontent.com/p/AF1QipM-9_BTUm-5y_mslWqN4i_qhT9MAVpOTZL2sdOV=s680-w680-h510"></app-card>
  <app-card
    title="Monte Mare"
    description="Entspannung pur im toskanischen Saunagarten, wo alle 30 Minuten exquisite Saunazeremonien statt finden. 1h Massage inklusive."
    time="11:00"
    imgsource="https://www.jagdhof-roehrnbach.de/imageservice/bilder/wellness/saunawelt/panorama-event-sauna/jhr22_1324panoSauna-rgb2500[b2500].jpg"></app-card>
  <app-card
    title="Mr. Lian"
    description='"You can&apos;t buy happiness, but you can buy Sushi - which is kinda the same thing." ~Mr.Lian'
    time="20:00"
    imgsource="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/11/b4/50/20/mr-lian.jpg?w=1000&h=-1&s=1"
    class=""></app-card>
</div>
