.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  -webkit-overflow-scrolling: touch;
  position: relative;
}

.wrapper {
  display: flex;
  flex-flow: row nowrap;
  width: max-content;
  height: 100%;
}
.carousel-cell {
  scroll-snap-align: start;
  scroll-margin: 10px;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
  float: left;
}
