<!--<app-thursday
  class="grid h-full w-full grid-flow-row grid-rows-[4fr_10fr_2fr] flex-col place-content-stretch"></app-thursday>-->
<!--<app-friday
  class="grid h-full w-full grid-flow-row grid-rows-[4fr_10fr_2fr] flex-col place-content-stretch"></app-friday>-->

<div class="carousel h-full w-auto">
  <div class="wrapper">
    <app-thursday
      class="carousel-cell grid h-full w-svw grid-flow-row grid-rows-[4fr_10fr_2fr] flex-col place-content-stretch"></app-thursday>
    <app-friday
      class="carousel-cell grid h-full w-svw grid-flow-row grid-rows-[4fr_10fr_2fr] flex-col place-content-stretch"></app-friday>
    <app-saturday
      class="carousel-cell grid h-full w-svw grid-flow-row grid-rows-[4fr_10fr_2fr] flex-col place-content-stretch"></app-saturday>
  </div>
</div>
