<div class="relative flex h-svh">
  <img
    src="/eileen.jpeg"
    class="min-w-full object-cover grayscale-[25%]" />
  <div
    class="hellocard bg-neutral-100 jusitfy-center w-8/10 bg- absolute bottom-10 left-0 right-0 m-auto flex h-24 w-72 flex-col items-center rounded-md opacity-85">
    <label class="text-orange-500 font-sans text-lg font-bold">
      Happy Birthday Honey
    </label>
    <p class="px-2 font-sans text-xs text-zinc-500">
      Dein Geburtstagsgeschenk dieses Jahr ist ein mit viel Liebe nach
      USA-Methodik kreiertes all-inclusive Wochenende im uns bekannten Südwesten
      Deutschlands. I love you !
    </p>
  </div>
</div>
