<div class="flex w-full flex-row">
  <div class="flex h-32 w-32 overflow-hidden rounded-full">
    <img
      src="{{ imgsource() }}"
      class="min-w-full object-fill grayscale" />
  </div>
  <div class="flex-1 px-2">
    <div class="flex flex-row items-center justify-between">
      <label class="text-orange-500 font-sans text-lg font-bold">
        {{ title() }}
      </label>
      <label class="font-sans text-xs font-bold text-zinc-500">
        {{ time() }}
      </label>
    </div>
    <p class="text-left font-sans text-xs text-zinc-500">
      {{ description() }}
    </p>
  </div>
</div>
